<mat-toolbar color="primary">
    <span><button color="primary" mat-flat-button routerLink="/">Bloggy</button></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a class="hover" mat-button href="" routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a class="hover" mat-button href="" routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
            <a class="hover" mat-button href="" routerLink="auth/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <a class="hover" mat-button (click)="onLogout()">Logout</a>
        </li>
    </ul>
</mat-toolbar>