<mat-card-header>
  Welcome to Bloggy...
</mat-card-header>
<mat-spinner style="margin:0 auto;" *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel class="panel-body" #panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <span class="list-title">{{post.title}}</span>
      <ng-container *ngIf="!panel.expanded">
        <span class="list-content">{{post.content}}</span>
      </ng-container>
      <!-- <pre>
        ----
        {{post.title}} 
        Creator: {{post.creator}} userId: {{userId}} 
        Status: {{post.creator===userId}}
      </pre> -->
    </mat-expansion-panel-header>
    <div class="post-image">
      <img class="image" [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [pageSize]="postsPerPage" [length]="totalPosts" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length == 0  && !isLoading">No posts added yet</p>