:host{
    display: block;
    margin: 1px;
}
.info-text {
    text-align: center;
}
.mat-paginator{
    margin: 1rem;
}
.post-image {
    width: 100%;
}
.post-image img {
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}